################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Bank-Proyect/copilot-chat/09f24e23/sessions
/.vs/Bank-Proyect/CopilotIndices/17.12.31.40377
/.vs/Bank-Proyect/FileContentIndex
/.vs/Bank-Proyect/v17
